<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>vue start</title>
		<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
		<style>
			span {
				color: red;
			}
		</style>
	</head>

	<body>
		<div id="firstVue">
			<!-- 绑定变量 -->
			<div>message:{{message}}</div>
			<!-- 绑定方法 -->
			<!-- method 和 computed 区别 -->
			<!-- 调用方式不同: method方法调用必须要加().computed调用必须不加() -->
			<!-- method 实时数据, computed 只有当表达式的内容发生变化的时候才调用 -->
			<div>message reverse computed:{{reverseMessage}}</div>
			<div>message reverse method:{{reverseMessage2()}}</div>
			<input placeholder="测试双向绑定" v-model="message" />
			<p id="info"></p>
			<div v-if="!ok">v-if !ok</div>
			<div v-else-if="ok">v-else-if ok</div>
			<div v-else="">v-else</div>
			<template>
				<div v-show="!ok">v-show</div>
			</template>
			<!-- 遍历数据 -->
			<h3><span>obj in objs-></span> objs = {{objs}}</h3>
			<ul>
				<li v-for="obj in objs">
					{{obj.id}}-{{obj.name}}
				</li>
			</ul>
			<h3><span>(value,key,index) in objs[0] </span> ->objs[0] ={{objs[0]}} </h3>
			<ul>
				<li v-for="(value,key,index) in objs[0]">
					{{key}}-{{value}}-{{index}}
				</li>
			</ul>
			<h3><span>v-for="n in 3" n cong 1 开始</span></h3>
			<ul>
				<li v-for="n in 3">
					{{n}}
				</li>
			</ul>
			<div>
				<label>计数器: {{count}}</label>
				<br />
				<button @click="count++" role="需要注意的是,表达式可以直接在@click中执行">点击我 +1 </button>
			</div>
		</div>
		<script>
			var vue = new Vue({
				/* vue div 作用域 */
				el: '#firstVue',
				data: {
					// 定义变量 1
					message: 'Hello Vue !',
					// 定义变量2
					ok: '',
					// 定义变量3
					objs: [{
						"id": 100,
						"name": "zhang"
					}, {
						"id": 200,
						"name": "yinyuan"
					}],
					count: 100
				},
				methods: {
					// methods 具有实时性
					reverseMessage2: function() {
						return this.message.split('').reverse().join('');
					},
					addCount: function() {
						this.count++;
					}
				},
				computed: {
					// computed 具有缓存作用(缓存作用待添加解释场景).但是不具备实时性
					reverseMessage: function() {
						return this.message.split('').reverse().join('');
					}
				},
				watch: {
					message: function(val) {
						console.info("meassage val = " + val)
					}
				}
			});
			vue.$watch('message', function(newVal, oriVal) {
				document.getElementById("info").innerHTML = ("修改前的值为：" + oriVal + " 修改后的值为：" + newVal);
			});
		</script>
	</body>
</html>
