<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
	<title>监听</title>
</head>

<body>
	<div id='myVue'>
		<span>
			千米：
			<input type="number" v-model='km' />
		</span>
		<p/>
		<span>
			米：
			<input type="number" v-model='m' />
		</span>

		<p id="info" style="font-family: monaco;font-size: 20px;"></p>
	</div>

	<script>
		var myVue = new Vue({
			el: '#myVue',
			data: {
				km: 0,
				m: 0
			},
			methods: {

			},
			computed: {

			},
			watch: {
				km: function (val) {
					//val 标识当前变化后的值
					this.km = val;
					this.m = val * 1000;
				},
				m: function (val) {
					this.m = val;
					this.km = val / 1000;
				}
			}
		});

		myVue.$watch('km', function (newVal, oriVal) {
			document.getElementById('info').innerHTML = '变化前的km值为：' + oriVal + ', 变化后的km值为: ' + newVal;
		});
	</script>
</body>

</html>
