<!DOCTYPE html>
<html ng-app="myapp">

	<head>
		<meta charset="UTF-8">
		<title>form 验证</title>
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/global.css" />
		<script type="text/javascript" src="../js/angular.js"></script>
	</head>

	<body ng-controller="MainCtrl as main">
		<!--angular中对于属性的定义不要使用中横线,否则可能导致失效,如ng-focus="a-focus=true",会无法识别 -->
		<form name="myform" novalidate>
			<p>
				用户名:
				<input type="text" name="username" maxlength="10" ng-model="user.username" ng-pattern="/^[a-zA-Z0-9_-]{4,16}$/" placeholder="请输入用户名" ng-focus="a_focus=true" ng-blur="a_focus=false" required="required" autofocus="autofocus" />
				<span ng-show="myform.username.$error.required" class="err-show"> * 用户名是必须的</span>
				<span ng-show="a_focus==false && myform.username.$error.pattern" class="err-show">* 用户名格式为4到16位（字母，数字，下划线，减号）</span>
			</p>
			<p>密 码: <input type="password" name="password" ng-model="user.password" placeholder="请输入密码" required="required" /></p>
			<p>邮箱名: <input type="email" name="email" ng-model="user.email" placeholder="请输入邮箱" required="required" /></p>
			<input type="submit" class="btn btn-primary" value="提交" ng-disabled="myform.username.$invalid || myform.password.$invalid || myform.email.$invalid" />
			<input type="reset" class="btn btn-primary" value="重置" />
		</form>

		<script>
			var myapp = angular.module("myapp", []);
			myapp.controller("MainCtrl", function($scope) {});
		</script>
	</body>

</html>