<!DOCTYPE html>
<html ng-app="myapp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<script type="text/javascript" src="../js/angular.js"></script>
		<style>
			table {
				border-collapse: collapse;
			}
			
			table,
			th,
			td {
				border: 1px solid black;
			}
		</style>
	</head>

	<body style="margin: 60px">
		<div ng-controller="MainCtrl as main">
			<table>
				<tr>
					<th>学号</th>
					<th>姓名</th>
					<th>语文成绩</th>
					<th>数学成绩</th>
					<th>英语成绩</th>
					<th>操作</th>
				</tr>
				<tr ng-repeat="item in main.dataList">
					<td>{{item.studentNo}}</td>
					<td>{{item.studentName}}</td>
					<td>{{item.yuwen}}</td>
					<td>{{item.shuxue}}</td>
					<td>{{item.yingyu}}</td>
					<td ><input type="button" name="" ng-click="main.remove(item.studentNo)" value="删除" /></td>
				</tr>
			</table>

			<hr>
			<h1>结果：{{main.formObject}}</h1>
			<p>学号：<input type="text" name="studentNo" ng-model="main.formObject.studentNo"></p>			
			<p>姓名:<input type="text" name="studentName" ng-model="main.formObject.studentName"> </p>
			<p>语文成绩：<input type="number" name="yuwen" ng-model="main.formObject.yuwen"></p>
			<p>数学成绩：<input type="number" name="shuxue" ng-model="main.formObject.shuxue"></p>
			<p>英语成绩：<input type="number" name="yingyu" ng-model="main.formObject.yingyu"></p>
			<button ng-click="main.insert()"ng>插入一行</button>
		</div>

		<script>
			var myapp = angular.module("myapp", []);
			myapp.controller("MainCtrl", [function() {
				this.dataList = [{
					"studentNo": 10010,
					"studentName": "张三",
					"yuwen": 100,
					"shuxue": 95,
					"yingyu": 100
				}, {
					"studentNo": 10011,
					"studentName": "lisi",
					"yuwen": 100,
					"shuxue": 96,
					"yingyu": 100
				}, {
					"studentNo": 10012,
					"studentName": "wangwu",
					"yuwen": 100,
					"shuxue": 89,
					"yingyu": 187
				}];
				// 定义一个空对象
				this.fromObject = {};
				var self = this;
				this.insert = function(){
					// 数组中添加一个对象
					self.dataList.push(self.formObject);
					self.formObject = {};
				};

				this.remove = function(sid){
					for (var i = self.dataList.length - 1; i >= 0; i--) {
						if (self.dataList[i] == sid ) {
							self.dataList.splice(i,1);
							break;
						} 
					}
				};
			}]);
		</script>
	</body>

</html>